html,body {
	background-color: black;
	margin: 0px;
	padding: 0px;
	height: 200vh;
  position: relative;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.backgroundSlot{
	width: 100%;
	height: 100vh;
  position: absolute;
}

#backgroundImg {
	width: 100%;
	height: 100%;
	background-image:url("Background.png");
	position: absolute;
	transition: background .5s linear;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    width: 100%;
  height: 100%;
  background-image:url("Background.png");
  position: absolute;
  transition: background .5s linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#scrollDownButton {
  position: absolute;
  background:transparent;
  border:none;
  outline:none;
  height:10vh;
  width:10vw;
  cursor:pointer;
  z-index:46;
  top: 90vh;
  left: 45vw;
}

.galeriaSlot {
  top: 100vh;
  position: absolute;
  width: 100%;
  height: 49.875vh;
  overflow: hidden;
  cursor:pointer;
}

.galeriaImg {
  background: url("mainGaleria.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 3s ease-out;
  -moz-transition: 3s ease-out;
  -o-transition: 3s ease-out;
  -ms-transition: 3s ease-out;
  transition: 3s ease-out;
}

.galeriaImg:hover {
  background-image: url("mainGaleria.png"); 
  transform: scale(1.05,1.05);
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px white,1px 0px 20px white;
}

#writingGaleria {
  text-align: center;
  padding-top: 21.5vh;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
}

.objednatSlot {
  top: 150.25vh;
  position: absolute;
  width: 100%;
  height: 49.875vh;
  overflow: hidden;
  cursor:pointer;
}

.objednatImg {
  background: url("mainObjednat.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 3s ease-out;
  -moz-transition: 3s ease-out;
  -o-transition: 3s ease-out;
  -ms-transition: 3s ease-out;
  transition: 3s ease-out;
}

.objednatImg:hover {
  background-image: url("mainObjednat.png"); 
  transform: scale(1.05,1.05);
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px white,1px 0px 20px white;
}

#writingObjednat {
  text-align: center;
  padding-top: 21.5vh;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
}

#tapetyButton {
  top: 65vh;
  left: 25vw;
  position: absolute;
  background:transparent;
  border:none;
  outline:none;
  height:15vh;
  width:15vw;
  z-index:46;
  font-size: 3vw;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
}

#obrazyButton {
  top: 65vh;
  left: 60vw;
  position: absolute;
  background:transparent;
  border:none;
  outline:none;
  height:15vh;
  width:15vw;
  z-index:46;
  font-size: 3vw;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
}

#sanMarcoButton {
  top: 65vh;
  left: 40.3vw;
  position: absolute;
  background:transparent;
  border:none;
  outline:none;
  height:15vh;
  width:15vw;
  z-index:46;
  font-size: 3.70vw;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: white;
  white-space: nowrap;
}

#sanMarcoButton:hover {
  text-shadow: 1px 0px 20px white;
}

.logo {
  position: absolute;
  width:26vw ;
  height:auto;
  top: 15vh;
  left: 37vw;
  z-index:45;

/*  Scaling animation */
  -webkit-animation: bummer 4s;
  animation: bummer 4s;
  -webkit-transform: scale(0.85,0.85); 
  transform: scale(0.85,0.85);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadein {
  /*  Fadein animation */
  -webkit-animation: fadein 4s; 
  -moz-animation: fadein 4s; 
  -ms-animation: fadein 4s; 
  -o-animation: fadein 4s; 
  animation: fadein 4s;
}
  /*  Scaling keyframes */

@-webkit-keyframes bummer {
  100% {
      -webkit-transform: scale(1,1); 
  }
}

@keyframes bummer {
  100% {
      transform: scale(1,1); 
  }
}

/*  Fadein keyframes */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}