html {
		background-color: green;
		margin-bottom: 500px;
		padding: 0px;
		height: 200vh;
		width: 100%;
    	scroll-behavior: smooth;
    	background: url('imgs/stranka2_clean_zakazkyFULLHD.png');
    	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}

#scrollDownButton {
  position: absolute;
  background-color: green;
  border:none;
  outline:none;
  height:10vh;
  width:10vw;
  cursor:pointer;
  z-index:46;
  top: 90vh;
  left: 45vw;
}
